aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==20.3.0
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-plugins==1.1.1
colorama==0.4.4
geographiclib==1.50
geopy==2.1.0
idna==2.10
ipinfo==4.1.0
multidict==5.1.0
requests==2.25.1
shodan==1.25.0
snapmap-archiver==1.2.1
typing-extensions==3.7.4.3
urllib3==1.26.4
XlsxWriter==1.4.1
yarl==1.6.3
